body {
  font-size: 18px;
  color: #646464; }

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: black; }

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: black; }

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: black; }

#wrapper {
  background-color: whitesmoke;
  width: 95%;
  margin: auto; }

header {
  position: relative;
  margin: 0, auto; }

#navLeft {
  position: relative;
  float: left;
  display: inline-block; }

#navRight {
  position: relative;
  float: right;
  display: inline-block; }

.navLink {
  display: inline-block;
  margin: .5rem;
  border-bottom: 2px solid black; }

#logoContain {
  display: inline-block;
  margin-left: auto;
  margin-right: auto; }

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  font-weight: 400;
  color: black;
  display: inline-block;
  margin: 0 auto; }

.honeycombs {
  position: relative;
  overflow: hidden;
  width: 80%;
  text-align: center;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 6rem; }

.honeycombs .inner_span {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #e7fd1d;
  font-family: 'Oswald', sans-serif;
  color: black; }

.honeycombs .inner-text {
  padding-top: 30%; }

.honeycombs .honeycombs-inner-wrapper {
  display: inline-block;
  overflow: hidden;
  width: 700px;
  position: relative;
  height: 1200px; }

.honeycombs .comb {
  position: absolute;
  display: inline-block; }

.honeycombs .hex_l,
.honeycombs .hex_r {
  overflow: hidden;
  position: absolute;
  /* -webkit-backface-visibility: hidden; */ }

.honeycombs .hex_l {
  visibility: hidden;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg); }

.honeycombs .hex_r {
  visibility: hidden;
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg); }

.honeycombs .hex_inner {
  display: block;
  visibility: visible;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer; }

.notched-box {
  position: relative;
  width: 100%;
  height: 0px;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: whitesmoke;
  overflow: hidden; }

.notched-box:before,
.notched-box:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 0;
  width: 50%;
  border-bottom: 1.5em solid #ff231d;
  box-sizing: border-box; }

.notched-box:before {
  left: 0;
  border-right: 2em solid transparent; }

.notched-box:after {
  right: 0;
  border-left: 2em solid transparent; }

#about {
  background-color: #ff231d;
  height: 200px; }

/*# sourceMappingURL=styles.css.map */
