@import 'variables.scss';

/////////////////////STANDARDS//////////////////////////

body {
  font-size: $base-page-size;
  color: $body-text
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: $font-size-headline;
  font-weight: 400;
  color: $header-color;
  line-height: 30%;

}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: $font-size-nav;
  font-weight: 300;
  color: $header-color;

}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: $font-size-byline;
  font-weight: 400;
  color: $header-color;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: $font-size-standard;
  font-weight: 400;
  line-height: 50%;
  color: $body-text;
}

a {
  color: $header-color;
}

#wrapper {
  background-color: $background-color;
  width: $wrapper-phone;
  margin: auto;}


//////////////////////header and nav styling////////////////////////

header {
  padding: $font-size-standard;
  margin-bottom: $font-size-nav;
}

#logoContain {
  position: relative;
  float: left;
  display: inline;
}
#navRight .nav {
  margin:0;
  padding:0;
  list-style-type: none;
  float:right;
}

li {
  display: inline-block;
  margin: .5rem;
}

/////////////////////////About Me Content////////////////////////////////
#bottom {
background-color: $cherry;
}

#about {
  background-color: $cherry;
  padding-left: $font-size-nav;
  padding-top: $font-size-standard;
}
#bio {
  font-family: 'Arvo', serif;
  color: white;
  padding: $font-size-nav;
}

//////////////////////Footer Content///////////////////////////////
footer{
  background-color: $turq;
  padding-left: $font-size-nav;
  padding-top: $font-size-standard;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

input {
width: 100%;
height: $font-size-byline
}

#contact{
  float: left;
  width: 50%;
  margin: $font-size-standard;

}
#follow{
  float: right;
}

#end{
  background-color: $body-text;
  color: $grey;
}

////////////////////////notched borders//////////////////////////

.notched-about {
  position: relative;
  width: 100%;
  height: 0px;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: $background-color;
  overflow: hidden;
}

.notched-about:before,
.notched-about:after {
	content:'';
	position: absolute;
	z-index: 1;
	bottom: 0;
	height: 0;
	width: 50%;
	border-bottom: 1.5em solid $cherry;
	box-sizing: border-box;
}

.notched-about:before {
	left: 0;
	border-right: 2em solid transparent;
}

.notched-about:after {
	right:0;
	border-left: 2em solid transparent;
}

.notched-contact {
  position: relative;
  width: 100%;
  height: 0px;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: $cherry;
  overflow: hidden;
}

.notched-contact:before,
.notched-contact:after {
	content:'';
	position: absolute;
	z-index: 1;
	bottom: 0;
	height: 0;
	width: 50%;
	border-bottom: 1.5em solid $turq;
	box-sizing: border-box;
}

.notched-contact:before {
	left: 0;
	border-right: 2em solid transparent;
}

.notched-contact:after {
	right:0;
	border-left: 2em solid transparent;
}

///////////////////////////////HONEYCOMBS, YO /////////////////////////////

.honeycombs{
	position: relative;
	overflow: hidden;
	width: 80%;
	text-align: center;
  background-color: $background-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: $font-size-logo;

}

.honeycombs .inner_span{
	display: block;
	height: 100%;
	width: 100%;
	background-color: $citron;
	font-family: 'Oswald', sans-serif;
	color: $header-color;
}
.honeycombs .inner-text{
	padding-top: 30%;
}

.honeycombs .honeycombs-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 700px;
	position: relative;
	height: 1200px;
}

.honeycombs .comb{
	position: absolute;
	display: inline-block;
}

.honeycombs .hex_l,
.honeycombs .hex_r{
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.honeycombs .hex_l{
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);

	transform: rotate(60deg);
}

.honeycombs .hex_r{
	visibility: hidden;
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);

	transform: rotate(-120deg);
}

.honeycombs .hex_inner{
	display: block;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);

	transform: rotate(60deg);

	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	cursor: pointer;

}




///////////////////media queries for resposive design////////////////
 @media screen and (max-width: $device-tablet) {

   #logoContain {
     clear: both;
     display: block;
     margin: 0, auto;
   }

  h1{
     font-size: 3rem;
   }
   h2 {
     font-size: $font-size-byline;
   }

   li {
     display: block;
     margin: .5rem;
   }

   #navRight {
     clear:left;
   }

   #navRight .nav {
     margin:0;
     padding:0;
     display: inline-block;
     list-style-type: none;
     float:none;
     clear: both;
   }

  .color {
     display: none;
   }
 }

 @media (max-width: $device-tablet) {
   #logoContain {
     display: block;
   }

   #navRight {
     clear:left;
     display:block;
   }

   #navRight .nav {
     margin:0;
     padding:0;
     display: inline-block;
     list-style-type: none;
     float:none;
     clear: both;
   }

   li {
     display: inline-block;
     margin: .5rem;
   }

   .honeycombs {
     margin-top: 0;
     margin-bottom:0;
   }
 }
