@import 'variables.scss';

//STANDARDS

body {
  font-size: $base-page-size;
  color: $body-text
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: $font-size-headline;
  font-weight: 400;
  color: $header-color;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: $font-size-nav;
  font-weight: 300;
  color: $header-color
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: $font-size-byline;
  font-weight: 400;
  color: $header-color
}

#wrapper {
  background-color: $background-color;
  width: $wrapper-phone;
  margin: auto;
  padding: $font-size-standard;
}


//Nav Styling

#navLeft{
  position: relative;
  float:left;
  display: inline-block;
}

#navRight{
  position: relative;
  float: right;
  display: inline-block;
}
.navLink {
  display: inline-block;
  margin: .5rem;
  border-bottom: 2px solid black;
}


//Logo Styling

#logoContain{
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: $font-size-logo;
  font-weight: 400;
  color: $header-color;
  display:inline-block;
  margin: 0 auto;
}

#logoName {
  display: inline-block;
  margin: 0 auto;

}








// .nav {
//   display: inline-block;
// }



// //display
// #phone {
//   display: none;
//   background: purple;
// }
//
// #tablet {
//   display: none;
//   background: orange;
// }
// #laptop {
//   display: none;
//   background: lime;
// }

//media queries for resposive design
@media (min-width: $device-phone) {
  #wrapper {
    width: $wrapper-phone;
  }
  #phone {
    display: block;
  }
}

@media (min-width: $device-tablet) {
  #wrapper {
    width: $wrapper-tablet;
  }
  #phone{
    display: none;
  }
  #tablet {
    display: block;
  }
  // .nav {
  //   display: inline-block;
  //   list-style: square;
  //   padding: $font-size-standard;
  // }
}

@media (min-width: $device-laptop) {
  #wrapper {
    width: $wrapper-laptop;
  }
  #phone{
    display: none;
  }
  #tablet {
    display: none;
  }
  #laptop{
    display: block;
  }
}




//honeycombs

.honeycombs{
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
  background-color: $background-color;
}

.honeycombs .inner_span{
	display: block;
	height: 100%;
	width: 100%;
	background-color: #f7cd07;
	font-family: sans-serif;
	color: #000;
}
.honeycombs .inner-text{
	padding-top: 30%;
}

.honeycombs .honeycombs-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 700px;
	position: relative;
	height: 1200px;
}

.honeycombs .comb{
	position: absolute;
	display: inline-block;
}

.honeycombs .hex_l,
.honeycombs .hex_r{
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.honeycombs .hex_l{
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);

	transform: rotate(60deg);
}

.honeycombs .hex_r{
	visibility: hidden;
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);

	transform: rotate(-120deg);
}

.honeycombs .hex_inner{
	display: block;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);

	transform: rotate(60deg);

	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	cursor: pointer;

}


// .hexagon {
//   position: relative;
//   width: 250px;
//   height: 144.34px;
//   margin: 72.17px 0;
// }
//
// .hexagon:before,
// .hexagon:after {
//   content: "";
//   position: absolute;
//   width: 0;
//   border-left: 125px solid transparent;
//   border-right: 125px solid transparent;
// }
//
// .hexagon:before {
//   bottom: 100%;
//   border-bottom: 72.17px solid;
// }
//
// .hexagon:after {
//   top: 100%;
//   width: 0;
//   border-top: 72.17px solid;
// }

// #citron {
//   background-color: rgba(231,253,29,1);
//   margin-right: 30px;
//   float: left;
//   margin-right: 30px;
// }
// #citron:before {
//   border-bottom: 72.17px solid rgba(231,253,29,1);
// }
// #citron:after {
//   border-top: 72.17px solid rgba(231,253,29,1);
// }
//
// #cherry {
//   background-color: rgba(255,35,29,1);
//   float: left;
//   margin-right: 30px;
// }
// #cherry:before {
//   border-bottom: 72.17px solid rgba(255,35,29,1);
// }
// #cherry:after {
//   border-top: 72.17px solid rgba(255,35,29,1);
// }
// #turquoise {
//   background-color: rgba(125,238,230,1);
//   float:left;
//   margin-right: 30px;
// }
// #turquoise:before {
//   border-bottom: 72.17px solid rgba(125,238,230,1);
// }
// #turquoise:after {
//   border-top: 72.17px solid rgba(125,238,230,1);
// }
// #grey {
//   background-color: rgba(192,195,186,1);
//   float:left;
//   margin-right: 30px;
// }
// #grey:before {
//   border-bottom: 72.17px solid rgba(192,195,186,1);
// }
// #grey:after {
//   border-top: 72.17px solid rgba(192,195,186,1);
// }
