//color variables
$body-text: rgba(100,100,100,1);
$background-color: rgba(245,245,245,1);
$header-color: black;
$citron: rgba(231,253,291,1);
$cherry: rgba(255,35,29,1);
$turq: rgba(125,238,230,1);
$grey: rgba(192,195,186,1);


// font sizes
$base-page-size: 18px;
$font-size-standard: 1rem;
$font-size-headline: 4rem;
$font-size-logo: 6rem;
$font-size-nav: 2rem;
$font-size-byline: 1.5rem;
$font-size-subtext: 0.75rem;

//devices
$device-phone: 320px;
$device-tablet: 700px;
$device-laptop: 960px;

//wrappers!
$wrapper-phone: 95%;
$wrapper-tablet: 95%;
$wrapper-laptop: 95%;
//asdlfj
//fonts
// $body-font {
//   font-family: 'Arvo', serif;
// }
// $logo-font{
//   font-family: 'Oswald', sans-serif;
//   font-weight: 400;
// }
// $call-font {
//   font-family: 'Oswald', sans-serif;
//   font-weight: 300;
// }

//fun!
//$radius: 15px;
