body {
  font-size: 18px;
  color: #646464; }

#logo {
  font-family: 'Oswald', sans-serif;
  font-size: 9rem;
  font-weight: 400;
  color: black;
  margin-top:3%;
  margin-left: 7%;
  /*line-height: 30%;*/
  /*text-align: center;*/
}
#title {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: black;
  margin-top: -9%;
  margin-left: 10%;
  /*line-height: 30%;*/
  /*text-align: center;*/
}
.abouthead {
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  font-weight: 400;
  color: black;
  text-align: center;
  /*margin-top: -9%;*/
  margin-left: -3%;*/
  /*line-height: 30%;*/
  /*text-align: center;*/
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: black; }

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: black; }

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 50%;
  color: #646464; }

a {
  color: black;

 }

 a:hover {
    text-decoration: none;
    color: black; 
}


 .project {
   font-family: 'Oswald', sans-serif;
   font-size: 3rem;
   font-weight: 300;
   margin-top: -1%;
   color: black;
 }

.container {
  width: 95%;
}

#wrapper {
  background-color: whitesmoke;
  /*width: 95%;
  margin: auto; */
}

header {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }


.logoimg {
      display: inline;
      width: 195%;
      padding-right: 2%;
      padding-top: 5%;
      /*height: 30%;*/
    }

#logoContain {
  position: relative;
  float: left;
  display: inline; }

#navRight .nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }

li {
  display: inline-block;
  margin: .5rem; }

#bottom {
  background-color: #ff231d; }

#about {
  background-color: #ff231d;
  padding-left: 2rem;
  padding-top: 1rem; }

#bio {
  font-family: 'Arvo', serif;
  color: whitesmoke;
  padding: 2rem;
  margin-bottom: 5%;
  line-height: 150%;
}

footer {
  background-color: #7deee6;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
 }

 /*.btn {
   width: 40%;
 }*/

  input {
    padding: 4%;
    border-radius: 6px;
  }

  /*.frm {
    width: 40%;
  }*/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/*input {
  width: 100%;
  height: 1.5rem; }*/


/*#contact {
  display: block;
  width: 50%;
  margin: 0 auto;
}*/

#follow {
  float: right; }

#end {
  background-color: #646464;
  color: #c0c3ba; }

.notched-about {
  position: relative;
  width: 100%;
  height: 0px;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: whitesmoke;
  overflow: hidden; }

.notched-about:before,
.notched-about:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 0;
  width: 50%;
  border-bottom: 1.5em solid #ff231d;
  box-sizing: border-box; }

.notched-about:before {
  left: 0;
  border-right: 2em solid transparent; }

.notched-about:after {
  right: 0;
  border-left: 2em solid transparent; }

.notched-contact {
  position: relative;
  width: 100%;
  height: 0px;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #ff231d;
  overflow: hidden; }

.notched-contact:before,
.notched-contact:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 0;
  width: 50%;
  border-bottom: 1.5em solid #7deee6;
  box-sizing: border-box; }

.notched-contact:before {
  left: 0;
  border-right: 2em solid transparent; }

.notched-contact:after {
  right: 0;
  border-left: 2em solid transparent; }

.honeycombs {
  position: relative;
  overflow: hidden;
  width: 80%;
  text-align: center;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 6rem; }

.honeycombs .inner_span {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #e7fd1d;
  font-family: 'Oswald', sans-serif;
  size: 200%;
  color: black; }

.honeycombs .inner-text {
  padding-top: 30%;
  size: 4rem;
 }

.honeycombs .honeycombs-inner-wrapper {
  display: inline-block;
  overflow: hidden;
  width: 700px;
  position: relative;
  height: 1200px; }

.honeycombs .comb {
  position: absolute;
  display: inline-block; }

.honeycombs .hex_l,
.honeycombs .hex_r {
  overflow: hidden;
  position: absolute;
  /* -webkit-backface-visibility: hidden; */ }

.honeycombs .hex_l {
  visibility: hidden;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg); }

.honeycombs .hex_r {
  visibility: hidden;
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg); }

.honeycombs .hex_inner {
  display: block;
  visibility: visible;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer; }

@media screen and (max-width: 900px) {
  #logoContain {
    clear: both;
    display: block;
    margin: 0, auto; }

  h1 {
    font-size: 3rem; }

  h2 {
    font-size: 1.5rem; }

  li {
    display: block;
    margin: .5rem; }

  #navRight {
    clear: left; }

  #navRight .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    float: none;
    clear: both; }

  .color {
    display: none; } }
@media (max-width: 900px) {
  #logoContain {
    display: block; }

  #navRight {
    clear: left;
    display: block; }

  #navRight .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    float: none;
    clear: both; }

  li {
    display: inline-block;
    margin: .5rem; }

  .honeycombs {
    margin-top: 0;
    margin-bottom: 0; } }

/*# sourceMappingURL=styles.css.map */
